@media screen and (max-width: 360px)
{
    body {
        background-color: red;
    }

    h2 {
        font-size: 25px;
        
    }


    .shashank {
        text-align: center;
    }

    .sahai {
        text-align: center;
    }
    
    .rahul {
        text-align: center;
    }

    .kushal {
        text-align: center;
    }

    .subhash {
        text-align: center;
    }




    
    .shashank6 {
        width: 100%;
    }

    .shashank5 {
        width: 100%;
    }

    .subhash5 {
        width: 100%;
    }

    .subhash6 {
        width: 100%;
    }

    .sahai5 {
        width: 100%;
    }

    .sahai6 {
        width: 100%;
    }

    .rahul5 {
        width: 100%;
    }

    .rahul6 {
        width: 100%;
    }

    .kushal5 {
        width: 100%;
    }

    .kushal6 {
        width: 100%;
    }
}






@media screen and (max-width: 720px)
{
    body {
        background-color: red;
    }

    h2 {
        font-size: 55px;
        
    }


    .shashank {
        text-align: center;
    }

    .sahai {
        text-align: center;
    }
    
    .rahul {
        text-align: center;
    }

    .kushal {
        text-align: center;
    }

    .subhash {
        text-align: center;
    }




    
    .shashank6 {
        width: 100%;
    }

    .shashank5 {
        width: 100%;
    }

    .subhash5 {
        width: 50%;
    }

    .subhash6 {
        width: 100%;
    }

    .sahai5 {
        width: 100%;
    }

    .sahai6 {
        width: 100%;
    }

    .rahul5 {
        width: 100%;
    }

    .rahul6 {
        width: 100%;
    }

    .kushal5 {
        width: 50%;
    }

    .kushal6 {
        width: 100%;
    }
}





@media screen and (max-width: 1080px)
{
    body {
        background-color: red;
    }

    h2 {
        font-size: 75px;
        
    }


    .shashank {
        text-align: center;
    }

    .sahai {
        text-align: center;
    }
    
    .rahul {
        text-align: center;
    }

    .kushal {
        text-align: center;
    }

    .subhash {
        text-align: center;
    }




    
    .shashank6 {
        width: 90%;
    }

    .shashank5 {
        width: 90%;
    }

    .subhash5 {
        width: 50%;
    }

    .subhash6 {
        width: 90%;
    }

    .sahai5 {
        width: 90%;
    }

    .sahai6 {
        width: 90%;
    }

    .rahul5 {
        width: 70%;
    }

    .rahul6 {
        width: 90%;
    }

    .kushal5 {
        width: 50%;
    }

    .kushal6 {
        width: 90%;
    }
}






@media screen and (max-width: 393px)
{
    body {
        background-color: red;
    }

    h2 {
        font-size: 25px;
        
    }


    .shashank {
        text-align: center;
    }

    .sahai {
        text-align: center;
    }
    
    .rahul {
        text-align: center;
    }

    .kushal {
        text-align: center;
    }

    .subhash {
        text-align: center;
    }




    
    .shashank6 {
        width: 100%;
    }

    .shashank5 {
        width: 100%;
    }

    .subhash5 {
        width: 100%;
    }

    .subhash6 {
        width: 100%;
    }

    .sahai5 {
        width: 100%;
    }

    .sahai6 {
        width: 100%;
    }

    .rahul5 {
        width: 100%;
    }

    .rahul6 {
        width: 100%;
    }

    .kushal5 {
        width: 100%;
    }

    .kushal6 {
        width: 100%;
    }
}